body {
    margin: 0px;
}

#header {
    background-color: lightcoral;
    padding: 10px;
}

h1#data-title {
    background-color: lightblue;
    margin: 0px;
    padding: 5px;    
}

h1#labelled-title {
    background-color: lightgreen;
    margin: 0px;
    padding: 5px;
}

#label-div {
    position: absolute;
    background-color: lightgoldenrodyellow;
    height: 20px;
    padding: 5px;
    visibility: hidden;
}

#main-area {
    display: flex;
    flex-direction: row;
}

#labelledData {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#delete-header {
    display: none;
}

#working-area {
    background-color: lightblue;
    padding: 10px;
    flex-grow: 1;
}

#sampleText {
    margin: 0px;
}

#table-div {
    background-color: lightgreen;
    padding: 10px;
    flex-grow: 1;
}

#buttons-div {
    background-color: violet;
    padding: 10px;
}

#drop-zone {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#download-button {
    float: right;
}

#footer {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}